/* Sheet Documents by : AIR Team */

ul#menu, ul#menu ul {
	margin: 0px auto;
	list-style: none;
	padding: 0px auto;
	top: 15px;
	left: 40px;
	background-color: #C0C0C0;
	background-image: url("../images/menu_bg.png");
	background-repeat: repeat;
	border-width: 0px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

ul#menu ul {
	display: none;
	position: absolute;
	left: 0px;
	top: 100%;
	-moz-box-shadow: 0.7px 0.7px 1px #777777;
	-o-box-shadow: 0.7px 0.7px 1px #777777;
	-webkit-box-shadow: 0.7px 0.7px 1px #777777;
	box-shadow: 0.7px 0.7px 1px #777777;
	background-color: #C0C0C0;
	background-image: none;
	border-width: 1px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-style: solid;
	border-color: #d8d9da;
	padding: 0px 9px 9px;
}

ul#menu li:hover>* {
	display: block;
}

ul#menu li {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 100%;
	float: left;
}

ul#menu li:hover {
	z-index: 1;
}

ul#menu {
	padding: 1px 1px 1px 0px;
	font-size: 100%;
	z-index: 999;
	position: relative;
	display: inline-block;
	zoom: 1px;
	*display:inline;
}

ul#menu>li {
	margin: 0px 0px 0px 1px;
}

*html ul#menu li a {
	display: inline-block;
}

ul#menu ul>li {
	margin: 1px 0px 0px;
}

ul#menu a:active, ul#menu a:focus {
	outline-style: none;
}

ul#menu a {
	display: block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font: bold 15px Verdana;
	color: #262626;
	cursor: default;
	padding: 10px;
	background-color: #C0C0C0;
	background-image: url("../images/menu_bg.png");
	background-repeat: repeat;
	background-position: 0px 200px;
	border-width: 0px;
	border-style: none;
	border-color: none;
}

ul#menu ul li {
	float: none;
	margin: 9px 0px 0px;
}

ul#menu ul a {
	text-align: left;
	padding: 8px 0px 0px 0px;
	background-color: #C0C0C0;
	background-image: none;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #D9D9D9;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font: bold 15px Verdana;
	color: #262626;
	text-decoration: none;
}

ul#menu li:hover>a,ul#menu li a.pressed {
	background-color: #C0C0C0;
	border-style: none;
	color: #efefef;
	text-decoration: none;
	background-image: url("../images/menu_bg.png");
	background-position: 0px 100px;
}

ul#menu img {
	border: none;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -12px;
	margin-bottom: -8px;
}

ul#menu img.over {
	display: none;
}

ul#menu li:hover > a img.def {
	display: none;
}

ul#menu li:hover > a img.over {
	display: inline;
}

ul#menu li a.pressed img.over {
	display: inline;
}

ul#menu li a.pressed img.def {
	display: none;
}

ul#menu span {
	display: block;
	overflow: visible;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 0px;
}

ul#menu ul li:hover>a,ul#menu ul li a.pressed {
	background-color: #C0C0C0;
	background-image: none;
	border-style: solid;
	border-color: #D9D9D9;
	color: #2B60DE;
	text-decoration: none;
}

ul#menu li.topfirst>a {
	width: 150px;
	height: 20px;
	line-height: 20px;
	-moz-border-radius: 10px 0px 0px 10px;
	-o-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	text-shadow: #d8d8d8 0px 1px 1px;
}

ul#menu li.topfirst:hover>a,ul#menu li.topfirst a.pressed {
	text-shadow: #3d3d3d 0px -1px 1px;
}

ul#menu li.topmenu>a {
	width: 160px;
	height: 20px;
	line-height: 20px;
	text-shadow: #d8d8d8 0px 1px 1px;
}

ul#menu li.topmenu:hover>a,ul#menu li.topmenu a.pressed {
	text-shadow: #3d3d3d 0px -1px 1px;
}

ul#menu li.toplast>a {
	width: 185px;
	height: 20px;
	line-height: 20px;
	-moz-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	text-shadow: #d8d8d8 0px 1px 1px;
}

ul#menu li.toplast:hover>a,ul#menu li.toplast a.pressed {
	text-shadow: #3d3d3d 0px -1px 1px;
}

ul#menu _>li>a {
	padding: 0px;
}

ul#menu li.subfirst>a {
	width: 160px;
	height: 30px;
	line-height: 30px;
	border-width: 0px;
	border-style: none;
	padding: 0px;
}

ul#menu li.subfirst:hover>a,ul#menu li.subfirst a.pressed {
	border-style: none;
}