/* Sheet Documents by : AIR Team */

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Orbitron:500);

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', Verdana;
	text-shadow: 0px 1px 0px #1e1e1e;
	margin: 0px auto;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: justify;
}

h3 {
	font-size: 20px;
	letter-spacing: 5px;
	text-align: justify;
}

h3.side {
	padding-top: 30px;
	padding-left: 25px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 15px;
	text-align: justify;
}

h6 {
	font-size: 12px;
}

/* HTML Typography */
a {
	color: #f2f2f2;
	text-decoration: none;
}

a:active {
	outline: none;
}

/* Logo */
#logo {
	position: absolute;
	top: -10px;
	left: 15px;
	width: 200px;
	height: 150px;
}

/* Header Style */
img#logo {
	text-shadow: 0px 1px 0px #1e1e1e;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;

/* Gain the benefits from GPU acceleration */
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-webkit-transform: translateZ(0);
transform: translateZ(0);
}

img#logo:hover {
	background: none;
	text-shadow: 0px 1px 0px #1e1e1e;

/* Scale the site logo on hover */
-moz-transform: scale(1.1) translateZ(0);
-o-transform: scale(1.1) translateZ(0);
-webkit-transform: scale(1.1) translateZ(0);
transform: scale(1.1) translateZ(0);
}

/* SEARCH */
.top-search {
	position: absolute;
	top: 30px;
	right: 60px;
}

#search input[type="text"] {
	background: url(../images/search_white.png) no-repeat 10px 5px #444;
	border: 0px none;
	font: bold 12px Verdana;
	color: #d7d7d7;
	width: 150px;
	padding: 5px 15px 5px 35px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

#search input[type="text"]:focus {
	background: url(../images/search_dark.png) no-repeat 10px 5px #fcfcfc;
	color: #6a6f75;
	width: 200px;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
	-o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

/* Fancy Style */
.fancy-about {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -175px;
	top: 350px;
	background-color: #6698FF;
	color: #f2f2f2;
	z-index: 99;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	text-decoration: none;
	font: bold 15px Verdana;
	font-size: 1.2em;
	padding: 5px 15px 10px 10px;
}

a.fancy-about:hover {
	text-shadow: 0px 5px 5px #1e1e1e;
}

.fancy-product {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -170px;
	top: 350px;
	background-color: #6698FF;
	color: #f2f2f2;
	z-index: 99;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	text-decoration: none;
	font: bold 15px Verdana;
	font-size: 1.2em;
	padding: 5px 10px 10px 8px;
}

a.fancy-product:hover {
	text-shadow: 0px 5px 5px #1e1e1e;
}

.fancy-contact {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -189px;
	top: 350px;
	background-color: #6698FF;
	color: #f2f2f2;
	z-index: 99;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	text-decoration: none;
	font: bold 15px Verdana;
	font-size: 1.2em;
	padding: 5px 15px 10px 10px;
}

a.fancy-contact:hover {
	text-shadow: 0px 5px 5px #1e1e1e;
}

.fancy-career {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: absolute;
	left: -161px;
	top: 350px;
	background-color: #6698FF;
	color: #f2f2f2;
	z-index: 99;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	text-decoration: none;
	font: bold 15px Verdana;
	font-size: 1.2em;
	padding: 5px 10px 10px 8px;
}

a.fancy-career:hover {
	text-shadow: 0px 5px 5px #1e1e1e;
}

/* Banner Style */
.image-wrap {
	position: relative;
	display: inline-block;
	max-width: 100%;
	vertical-align: bottom;
}

/* image-wrap:after Pseudo Element (Overlaying Container) */
.image-wrap:after {
	content: ' ';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -1px;
	left: -1px;
	border: solid 1px #1b1b1b;
	-moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, .5), inset 0px 1px 0px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .3);
	-o-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, .5), inset 0px 1px 0px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, .5), inset 0px 1px 0px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 1px rgba(255, 255, 255, .5), inset 0px 1px 0px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .3);
	-moz-border-radius: 7px 7px 1px 1px;
	-o-border-radius: 7px 7px 1px 1px;
	-webkit-border-radius: 7px 7px 1px 1px;
	border-radius: 7px 7px 1px 1px;
}

.image-wrap img {
	vertical-align: bottom;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	-moz-border-radius: 6px 6px 0px 0px;
	-o-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

/* Cutout Themes */
.cutout .image-wrap:after {
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, .2), inset 0px 4px 5px rgba(0, 0, 0, .6), inset 0px 1px 2px rgba(0, 0, 0, .6);
	-o-box-shadow: 0px 1px 0px rgba(255, 255, 255, .2), inset 0px 4px 5px rgba(0, 0, 0, .6), inset 0px 1px 2px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, .2), inset 0px 4px 5px rgba(0, 0, 0, .6), inset 0px 1px 2px rgba(0, 0, 0, .6);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, .2), inset 0px 4px 5px rgba(0, 0, 0, .6), inset 0px 1px 2px rgba(0, 0, 0, .6);
}

/* SIDEBAR */
#sidebar {
	float: left;
	position: relative;
	margin: 0px auto;
	padding-top: 15px;
	padding-right: 30px;
	width: 220px;
}

#sub {
	padding-top: 30px;
	padding-left: 25px;
	list-style-type: none;
}

/* WIDGET */
.widget {
	border-right: 3px solid rgba(255, 255, 255, 0.5);
	height: 450px;
}

.widget:first-child {
	border-top: none;
	padding-top: 0px auto;
}

.widget:last-child {
	border-bottom: none;
	padding-bottom: 0px auto;
}

/* Lists in Widget */
.widget li {
	line-height: 50px;
}

.widget li a {
	color: #f2f2f2;
	-moz-transition: margin-left 150ms linear;
	-o-transition: margin-left 150ms linear;
	-webkit-transition: margin-left 150ms linear;
	transition: margin-left 150ms linear;
}

.widget li a:hover {
	color: #007fff;
	margin-left: 5px;
}

/* ARTICLE */
.post {
	display: inline;
}

.entry-title {
	margin-top: 45px;
	margin-bottom: 100px;
}

.entry-list-title {
	margin-top: 45px;
	margin-bottom: 60px;
}

.entry-content {
	padding: 0px auto;
	margin-bottom: 30px;
}

.entry-list-content {
	padding: 0px auto;
	margin-bottom: 20px;
	margin-left: 258px;
}

.entry-last-content {
	padding: 0px auto;
	margin-bottom: 60px;
	margin-left: 258px;
}

.entry-title a {
	color: #f2f2f2;
	-moz-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	-webkit-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

.entry-list-title a {
	color: #f2f2f2;
	-moz-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	-webkit-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

.entry-content a {
	-moz-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	-webkit-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

.entry-title a:hover {
	color: #007fff;
	text-shadow: 0px 1px 0px #1e1e1e;
}

.entry-list-title a:hover {
	color: #007fff;
	text-shadow: 0px 1px 0px #1e1e1e;
}

.entry-content a:hover {
	color: #007fff;
	text-shadow: 0px 1px 0px #1e1e1e;
}